@charset "UTF-8";

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --font-family-base: "Roboto";
  --font-size-base: clamp(18px, 1.125vw, 20px);
  --font-size-title: clamp(32px, 2vw, 40px);
  --color-backgray: #ebebeb;
  --color-text-color: #4C5866;
  --color-text-second: #666666;
  --color-secondary: #7875FE;
}

body {
  font-family: var(--font-family-base);
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 60px;
}

.container {
  width: 1200px;
  margin-inline: 165px;
}

.navbar__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 28px;
}

.navbar__brand {
  background-image: url("../icons/Logo.svg");
  width: 140px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 50px;
}

.navbar__menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.navbar__hidden {
  display: none;
}

.navbar__list {
  display: flex;
  -moz-column-gap: 60px;
  column-gap: 60px;
  margin-right: 60px;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-text-color);
}

.list a:hover {
  color: var(--color-secondary);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons__button {
  display: flex;
  justify-content: center;
  padding: 0;
  color: var(--color-text-color);
  border: none;
  background: transparent;
}

.icons__button:not(:last-child) {
  margin-right: 26px;
}

.legend {
  display: flex;
  justify-content: center;
}

.legend__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 125px;
  column-gap: 125px;
}

.legend__desc {
  display: inline-block;
  width: 360px;
}

.legend__title {
  display: inline-block;
  width: 360px;
  font-size: clamp(48px, 3.125vw, 60px);
  font-weight: 400;
  color: var(--color-text-color);
  line-height: 100%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.legend__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #85859b;
  margin-bottom: 30px;
}

.legend__link {
  text-align: center;
  font-weight: 400;
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 20px 50px;
  width: 255px;
  height: 70px;
}

.legend__link:hover {
  background: var(--color-secondary);
  color: white;
}

.legend__image {
  width: 100%;
}

.img-desc {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  overflow: hidden;
}

.result {
  display: flex;
  justify-content: center;
  background: var(--color-backgray);
  height: 100%;
  padding-bottom: 60px;
}

.result__bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__desc {
  display: inline-block;
  width: 350px;
  height: 445px;
}

.result__text {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: 170%;
  color: #85859b;
}

.result__title {
  display: inline-block;
  width: 350px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: var(--font-size-title);
  line-height: 100%;
  color: #666;
  margin-bottom: 20px;
}

.result__image {
  width: 100%;
}

.result__img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.result__top-row {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  margin-bottom: 90px;
}

.result__textp {
  margin-bottom: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  padding-top: 19px;
  border-top: 1px solid #C0C0C0;
}

.card:last-child {
  margin-right: 0px;
}

.card__image {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__desc {
  width: 160px;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #85859b;
  text-align: left;
}

.card__desc span {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text-color);
}

.card-text {
  overflow-wrap: break-word;
}

.products {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.products__container {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.block {
  width: 255px;
  height: 465px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block__img {
  width: 100%;
  margin-bottom: 20px;
}

.block__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.block__title {
  margin-bottom: 8px;
  font-size: clamp(24px, 1.5vw, 30px);
  color: #666666;
}

.block__span {
  margin-bottom: 8px;
  font-size: clamp(12px, 0.875vw, 14px);
  color: #b5b5bd;
}

.block__desc {
  height: 100%;
}

.block__text {
  font-size: clamp(16px, 1.125vw, 18px);
  margin-bottom: 20px;
}

.block__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  font-size: clamp(16px, 1vw, 20px);
  color: var(--color-secondary);
  padding-bottom: 31px;
}

.block__arrow {
  color: currentcolor;
}

.brands {
  display: flex;
  justify-content: center;
  padding: 60px 39px;
  background: var(--color-backgray);
}

.brands__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands__logo {
  width: 255px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 30px;
  padding: 20px;
  border: 1px solid #C4C4C4;
}

.brands__logo:last-child {
  margin-right: 0;
}

.brands .item__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.book {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.book__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book__desc {
  width: 445px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book__title {
  font-size: clamp(34px, 2vw, 40px);
  font-weight: 400;
  color: var(--color-text-color);
  line-height: 100%;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.book__text {
  width: 350px;
  font-weight: 400;
  font-size: clamp(16px, 1.125vw, 18px);
  line-height: 150%;
  color: #85859b;
  margin-bottom: 30px;
}

.book__link {
  text-align: center;
  font-weight: 400;
  font-size: clamp(16px, 1vw, 20px);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 20px 50px;
  width: 255px;
  height: 70px;
}

.book__link:hover {
  background: var(--color-secondary);
  color: white;
}

.img-desc {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  background: #4C5866;
  height: 59px;
}

.footer__container {
  min-height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
}

.footer__button {
  margin-right: 34px;
}

.pic {
  font-size: 24px;
}

.footer__down {
  height: 21px;
  background: var(--color-backgray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-base);
  font-size: clamp(12px, 0.8125vw, 13px);
  color: #4C5866;
}

.footer__down span {
  color: #BCBCBC;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
    margin: 0;
  }

  .navbar__menu {
    display: none;
  }

  .navbar__hidden {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .list {
    margin-right: 0;
    -moz-column-gap: 111px;
    column-gap: 111px;
  }

  .result {
    display: flex;
    justify-content: center;
  }

  .result__top-row {
    justify-content: space-evenly;
  }

  .result__image {
    width: 50%;
  }

  .card {
    flex-direction: column;
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .products__container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .products__block {
    flex-basis: 40%;
    margin: 10px;
    padding: 10px;
  }

  .brands {
    display: flex;
    justify-content: center;
  }

  .brands__logo {
    margin: 0;
  }

  .book__container {
    justify-content: center;
    padding-inline: 40px;
  }

  .book__image {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }

  .navbar__row {
    justify-content: space-around;
  }

  .legend {
    display: flex;
    justify-content: center;
  }

  .result__image {
    width: 100%;
  }

  .book {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  .book__link {
    width: 200px;
    height: 45px;
    padding: 10px 50px;
  }

  .book__text {
    display: inline-block;
    width: 200px;
  }

  .book__title {
    display: inline-block;
    width: 100%;
  }

  .footer__container {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }

  .navbar__hidden {
    display: none;
  }

  .legend {
    margin-bottom: 0;
  }

  .legend__row {
    -moz-column-gap: 5px;
    column-gap: 5px;
  }

  .legend__desc {
    display: inline-block;
    width: 250px;
  }

  .legend__title {
    display: block;
    width: 250px;
  }

  .legend__link {
    padding: 10px 25px;
  }

  .img-desc {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .legend {
    margin-bottom: 60px;
  }

  .legend__container {
    display: flex;
    justify-content: center;
  }

  .legend__desc {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0;
    text-align: center;
  }

  .legend__title {
    width: 100%;
  }

  .legend__image {
    display: none;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .result__top-row {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .result__bottom-row {
    flex-direction: column-reverse;
  }

  .result__image {
    width: 100%;
    padding-left: 50px;
  }

  .result__desc {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .result__card {
    margin: 0;
    padding-bottom: 20px;
  }

  .card__desc {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .products__container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .block {
    height: 100%
  }


  .brands__container {
    flex-direction: column;
  }

  .block__link {
    padding: 0;
  }

  .book__row {
    flex-direction: column-reverse;
    row-gap: 30px;
  }

  .book__desc {
    width: 100%;
    align-items: center;
  }

  .book__text {
    width: 100%;
  }

  .footer__container {
    justify-content: space-between;
    padding-left: 40px;
  }

  .footer__socials {
    flex-basis: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
